.navbar {
    height: 8rem;
    background-color: var(--purple_2);
}

.nav-bars {
    display: none;
    font-weight: 300 !important;
}

.navbar svg {
    font-size: 42px;
    color: var(--light-blue);
}

.hidden-navbar {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;    
    position: fixed;
    right: -100%;
    transition: left 0.5s ease;
}

.navbar_dropdown-link a {
    text-decoration: none;
    color: var(--black);
}

.navbar_dropdown-link {
    border-bottom: 1px solid var(--light-blue);
    flex: 1;
    padding: 1rem;
}

@media screen and (max-width: 1000px) {

    .navbar-nav {
        display: none !important;
    }

    .nav-bars {
        display: block;
        cursor: pointer;
    }

    .navbar_dropdown {
        left: 0;      
    }

}