.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    height: 69.5vh;
    background-color: var(--black);
}

.contact-form {
    width: 400px;
  }
  
  .contact-form form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    color: #fff;
  }
  
  .contact-form input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }
  
  .contact-form input:focus {
    border: 2px solid rgba(0, 206, 158, 1);
  }
  
  .contact-form textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }
  
  .contact-form textarea:focus {
    border: 2px solid rgba(0, 206, 158, 1);
  }
  
  .contact-form label {
    margin-top: 1rem;
  }
  
  .contact-form input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: rgb(249, 105, 14);
    color: white;
    border: none;
  }

  .pop-up {
    top: 12rem;
    width: 200px;
    background-color: var(--blue);
    border-radius: 2rem;
    display: flex;
    transition: 1s ease;
    gap: 10px;
    align-items: center;
}

.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0;
  height: 100%;
  width: 40%;
  border-radius: 1.6rem 0 0 1.6rem;
}

.pop-up svg {
  font-size: 32px;
  color: #0d0d0d;
}

.pop-up_text p{
  padding-top: .6rem;
  
}

