.projects-container {
    background-image: linear-gradient(var(--purple_2), var(--blue));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-text {
    margin: 6rem 0 4rem 0;
}

.projects-text h1 {
    font-weight: 300;
    color: #fff;
}

.projects-text p {
    color: #fff;
}

.projects-item_container {
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 70%;
    margin: 4rem;
    border-radius: 2rem;
    background-color: var(--purple);
    box-shadow: 1px 1px 18px 12px rgba(0, 0, 0, 0.253);
}

.project-item {
    display: flex;    
}

.project-item img {
    border-radius: 2rem 0 0rem 2rem;   
    width: 500px;
    height: 380px;
    object-fit: cover;
}

.item-text {
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 100%;
    padding: 1rem;
    background-color: var(--black);
    color: var(--blue);
    border-radius: 0 2rem 2rem 0rem;  
}

.item-text p {
    color: #fff;
    width: 50%;
}

.item-text a{
    text-decoration: none;
    color: var(--blue);
    padding: .4rem;
    border: 1px solid var(--blue);
    width: 200px;
    transition: .1s;
}

.item-text a:hover {
    background-color: var(--blue);
    color: var(--black);
}