.formation-container {
    display: flex;
    flex-direction: column;
    padding: 8rem 0;
    background-image: linear-gradient(var(--dark-blue), var(--black));
    gap: 4rem;
}

.certificates_container h1{
    font-size: 42px;
    font-weight: 200;
    color: var(--blue);
    padding: 0rem 0 2rem 10rem;
}

.certificates_container {
    box-shadow: 2px 1px 30px 10px rgba(0, 0, 0, 0.425);
    padding: 2rem 0;
}

.certificate-item_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 2px 1px 30px 10px rgba(0, 0, 0, 0.425);
    padding: 4rem 0;
    background-image: linear-gradient( 50deg, var(--dark-blue), var(--purple_2));
}

.certificate-item_box {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.certificate-item_box p {
    margin-top: 2rem;
    width: 90%;
    color: #fff;
}

.certificate-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: var(--purple_2);
}

.certificate-item img{
    width: 400px;
}

.certificate-image img {
    width: 540px;
}

@media screen and (max-width: 900px) {
    .formation-container {
        padding: 2rem 0;
    }
    
    .certificates_container h1{
        font-size: 28px;
        font-weight: 200;
        color: var(--blue);
        padding: 2rem 2rem;
    }
    
    .certificates_container {
        padding: 1rem 0;
    }
    
    .certificate-item_container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 2rem;
    }
    
    .certificate-item_box {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    .certificate-item_box p {
        font-size: 16px;
        margin-top: 1rem;
    }
    
    .certificate-item {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    
    .certificate-item img{
        width: 300px;
    }
    
    .certificate-image img {
        width: 300px;
        margin-bottom: 2rem;
    }
}