.navbar {
    padding: 3rem;    
    background-color: var(--white) !important;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.container {
    width: 100%;
}

.container a {
    color: var(--dark-blue) !important;
}